<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
     
      <validation validateIntegratedModeConfiguration="false" />
      <aspNetCore processPath="dotnet" arguments=".\II_Shop.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: C93C3510-E8A1-4A43-A181-9D23B7D887EA-->