@model HomeViewModel

<div>
    @await Html.PartialAsync("Carousel")
</div>

<div class="container mt-4">
    <h2 class="mb-3">About us: </h2>
    <h6 class="homeText">
        <p>The company was founded in 2010, thanks to the ideas of people passionate about cars, who wanted to bring in one place famous, verified brands with a 100% known history.</p>
        <p>Most cars are new, but there are a few that have been driven less than 20,000 kilometers, which makes them look and work like new, but at a much more attractive price for customers.</p>
        <p>The diversity of cars we have is very wide, trying to cover the needs of each customer, from electric cars at a very affordable price, such as Nissan Leaf, to Tesla Model S or Porshe Taycan, for those passionate about their famous acceleration, speed and all the technological capabilities they have. We have family cars like the Volvo S60. And the one we are most proud of can only be the symbol of masculinity, of power, a car that stands out regardless of the situation, the emblematic Mercedes-Benz G-Class. Among the largest companies we have connections with are the VAG group, Tesla and Mercedes-Benz.</p>
        <p>You can cross our threshold in <span class="fst-italic">Calea Turzii 172/174, Cluj-Napoca 400495, Rom&acirc;nia</span></p>
        <p>Phone: <span class="fst-italic">+40 264 438 121</span></p>
    </h6>
    <h2 class="m-2">These are our best sellers: </h2>
    <div class="row mt-4 mb-2">
        @{ foreach(Car car in Model.favCars) {
                @await Html.PartialAsync("AllCars", car) } }
    </div>
</div>